/msswit2013-lab2/msswit2013-lab2.Client/obj
/msswit2013-lab2/msswit2013-lab2.Client/bin
/msswit2013-lab2/msswit2013-lab2.Core/obj
/msswit2013-lab2/msswit2013-lab2.Core/bin
/msswit2013-lab2/msswit2013-lab2.ServiceHost/obj
/msswit2013-lab2/msswit2013-lab2.ServiceHost/bin
/msswit2013-lab2/msswit2013-lab2.SubscriptionHost/bin
/msswit2013-lab2/msswit2013-lab2.SubscriptionHost/obj
/msswit2013-lab2/msswit2013-lab2.v11.suo
/msswit2013-lab2/msswit2013-lab2.sln.DotSettings
